---
import Layout from "../layouts/Layout.astro";
import Feed from "../components/Feed";
import Score from "../components/Score";
---

<Layout>
  <div class="flex justify-center w-full">
    <Feed client:only />
    <Score client:only />
  </div>
</Layout>
