---
import "@fontsource-variable/noto-sans";
import Navbar from "../components/Navbar.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>
      {title ? `${title} • Spot The Hoax` : "Spot The Hoax"}
    </title>
  </head>
  <body
    class="flex flex-col-reverse xl:flex-row min-h-screen w-screen text-white bg-black"
  >
    <Navbar />
    <slot />
  </body>
</html>
