---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div
    class="grow p-3 prose prose-invert lg:prose-lg prose-h1:font-bold prose-h1:text-3xl prose-a:text-blue-600 prose-a:underline-offset-4 prose-p:text-justify prose-img:rounded-xl"
  >
    <slot />
  </div>
</Layout>
